---
---
<center><h1>üìç üìç EXCEL FILESüìç üìç</h1></center>


---

In this notebook, we will see how to read excel files using pandas and what are the challenges while reading the excel files and how to tackle them?

---

### `Table of Contents`

---


- ***Reading Excel Files***
- ***Challenges with reading the EXCEL file.***
    - Reading excel files with multiple sheets.
    - Comments in top rows.
    - **Assignment**: Read files present in multiple directories.



#### `READING EXCEL FILES`

---

In [1]:
# import the pandas library
import pandas as pd

***In this notebook, we are going to use the same `big_mart_sales` data.***

---

- Read the file `big_mart_sales.xlsx` present in the directory `datasets.`

---

In [7]:
!pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 242 kB 1.9 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [8]:
# read the dataset
data = pd.read_excel('datasets/big_mart_sales.xlsx')

In [9]:
# view the head
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052

#### `CHALLENGES WITH READING EXCEL FILES`

- ***Reading excel files with multiple sheets.***
- ***Comments in top rows.***
- ***Read files present in multiple directories.***

---

---

#### ***`EXCEL FILES WITH MULTIPLE SHEETS: SPECIFY THE SHEET NAME`***

- **`EXCEL`** files most of the time contain multiple sheets. 
- Using **`sheet_name`** parameter we can read a specific sheet 

---

***Now, we have a excel file `big_mart_sales_with_multiple_sheets.xlsx` that contain different sheets for different years `1985`, `1987`, `1997`***

In [10]:
# read the data with multiple sheets
data_with_multiple_sheets = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx')

In [11]:
# unique year present in the data
data_with_multiple_sheets.Outlet_Establishment_Year.unique()

array([1985.])

***We can see that when we read the data with multiple sheets only the first sheet gets read.***

---

***To read the data from the specific sheet, we need to specify the sheet name. Let's see with the following example.***

In [12]:
sheet_1985 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1985')

In [13]:
sheet_1985.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985.0,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985.0,Small,Tier 1,Grocery Store,125.8362

In [14]:
sheet_1987 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1987')

In [15]:
sheet_1987.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052
1,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987.0,High,Tier 3,Supermarket Type1,343.5528
2,FDF32,16.35,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987.0,High,Tier 3,Supermarket Type1,1977.4260
3,FDN22,18.85,Regular,0.138190,Snack Foods,250.8724,OUT013,1987.0,High,Tier 3,Supermarket Type1,3775.0860
4,DRJ59,11.65,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987.0,High,Tier 3,Supermarket Type1,308.9312

In [16]:
sheet_1997 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx', sheet_name='1997')

In [17]:
sheet_1997.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2187.1530
1,FDS46,17.60,Regular,0.047257,Snack Foods,119.6782,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2145.2076
2,FDP49,9.00,Regular,0.069089,Breakfast,56.3614,OUT046,1997.0,Small,Tier 1,Supermarket Type1,1547.3192
3,FDR28,13.85,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997.0,Small,Tier 1,Supermarket Type1,4078.0250
4,DRH01,17.50,Low Fat,0.097904,Soft Drinks,174.8738,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2085.2856

#### `CONCATENATE ALL SHEETS`

---

In [18]:
# create an array of dataframes
sheets = [sheet_1985, sheet_1987, sheet_1997]
# concatenate the array
final_data = pd.concat(sheets)

In [19]:
# unique years in final data
final_data.Outlet_Establishment_Year.unique()

array([1985., 1987., 1997.])

---

***If we have comments on the top of a file. We can use `skiprows` to skip the first n rows and read the data.***


---

In [20]:
# read the data without skiprows
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx')

In [21]:
# top rows of the data
sheet_with_comments.head()

,# This is Big Mart Sales Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.138
4,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228

In [22]:
# read the data with skiprows
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx',skiprows=3)

In [23]:
# view the top rows of the data
sheet_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052

---

### `ASSIGNMENT: READ FILES FROM MULTIPLE DIRECTORIES` 

As you have seen in the last notebook, we read csv files from multiple directories using the glob. Use the glob to read the multiple directories to read the files from the folder `multi-directory-excel`

---

In [ ]:
# write your code here